<% if flash[:alert] %>
	<%= flash[:alert] %>
<% end %>
<table class="table table-striped table-bordered">
	<tr>
		<td>类别名称</td>
		<td><%= text_field "fruit_type", "name" %></td>
	</tr>
	<tr>
		<td>类别描述</td>
		<td><%= text_area "fruit_type", "description" %></td>
	</tr>
	<tr>
		<td>父类别名称</td>
		<td><%= select "fruit_type", "super_id", FruitType.where(super_id:["",nil]).collect {|ft| [ ft.name, ft.id ] }, { include_blank: true } %></td>
	</tr>
</table>
