<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>
<table class="table table-striped table-bordered">
	<tr>
		<td>类别名称</td>
		<td>类别描述</td>
		<td>父类别名称</td>
		<td>编辑</td>
		<td>删除</td>
	</tr>
	<%= render :partial=> "fruit_type", :collection => @fruit_types %>
</table>
<%= link_to "新增", :action => "new" %>