<table class="table table-striped table-bordered">
	<tr>
		<td>水果名称</td>
		<td>描述</td>
		<td>类别</td>
	</tr>
	<tr>
		<td><%= @fruit.name %></td>
		<td><%= @fruit.brief_introduction %></td>
		<td><%= @fruit.fruit_type.name %></td>
	</tr>
</table>
<%= link_to "返回", :action => "index" %>