<div id="flashbox" style="position:relative; width:100%">
	<div class="flash" style="margin:2px auto; width:1200px; height:370px; border:1px solid pink;">
		flashbox(各种广告)
	</div>
</div>

<div style="width:100%; position:relative; clear:both;">
	<div style="width:1200px; margin:2px auto; height:auto">
		<div>
			<span>优惠专区</span>
		</div>
		<%= render :partial=> "shared/fruit_search", :collection => @fruits %>
	</div>
</div>

<div style="width:100%; position:relative; clear:both;">
	<div style="width:1200px; margin:2px auto; height:auto">
		<div>
			<span>新品推荐</span>
		</div>
		<%= render :partial=> "shared/fruit_search", :collection => @fruits %>
	</div>
</div>

<div style="width:100%; position:relative; clear:both;">
	<div style="width:1200px; margin:2px auto; height:auto">
		<div>
			<span>果园推荐</span>
		</div>
		<%= render :partial=> "shared/fruit_search", :collection => @fruits %>
	</div>
</div>

<div style="width:100%; position:relative; clear:both;">
	<div style="width:1200px; margin:2px auto; height:auto">
		<div>
			<span>礼品推荐</span>
		</div>
		<%= render :partial=> "shared/fruit_search", :collection => @fruits %>
	</div>
</div>


<% if flash[:notice] %>
	<script>
		window.alert("恭喜您，注册成功！");
	</script>
<% end %>