<style type="text/css">
.breadcrumb {
	background: white;
	border-width: 0px;
}
.breadcrumb a {
	color:black;
}
.breadcrumb>li+li:before {
	content: ">";
	padding: 0 5px;
	color: #ccc;
}
</style>
<div>
	<div>
		<ol class="breadcrumb">
			<li><strong><%= link_to "首页", "/" %></strong></li>
			<% if @fruit %>
				<% if @fruit.fruit_type %>
					<li><%= link_to @fruit.fruit_type.name, controller:"fruit", action:"search", key_word:@fruit.fruit_type.name %></li>
				<% end %>
				<li class="active"><%= @fruit.name %></li>
			<% elsif @key_word %>
				<li><%= @key_word.blank? ? "所有商品" : @key_word %></li>
			<% end %>
		</ol>
		<!--<!--%= link_to "首页", "/" %>
		<span>></span>
		<span><a href="#"><!--%= @fruit.fruit_type.name %></a></span>
		<span>></span>
		<span><!--%= @fruit.name %></span> -->
	</div>
</div>