<div class="table table-bordered" style="margin:15px;height:60px;font-size:20px;line-height:20px;padding:20px;background:#F5F6E7;border:1px solid #EDD28B;border-radius:0px;">
	<span><strong>抱歉，没有找到与“<span style="color:red;"><%= @key_word %></span>”相关的商品。请更换关键词进行搜索。</strong></span>
</div>