<div style="margin:10px auto;">
	<div style="font-size:30px;padding-top:7px;border-bottom:1px solid #999999;">账户安全</div>
	<div>
		<table class="table table-striped table-bordered " id="DataTables_Table_0"">
				<tr role="row"><th>安全问题</th></tr>
				<tr><td><%= @current_user.question %></td></tr>
				<tr><th>答案</th></tr>
				<tr><td><%= "*" * @current_user.answer.length %></td>
				</tr>
		</table>
		<div style="text-align:center;">
			<%= link_to "编辑", :action=> "edit_security" %>
		</div>
	</div>
</div>