/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .fl {
	float:left;
 }
 .fr {
	float:right;
 }
#global_top_bar, #site_header {
	position:relative;
	width:100%;	
}
.global_top_nav {
	width:1200px;
	margin:0 auto;
	height:35px;
	background:#F5F5F5
}
ul {
	list-style:none;
}
.top_nav_left, ul li {
	display:inline;
	float:left;
}
.top_nav_left ul, .top_nav_right ul {
	float:left;
}
.top_nav_right {
	float:right;
}
.global_top_nav ul li {
	height:35px;
	line-height:35px;
	margin:auto 20px;
}
.header_wrapper {
	width:1200px;
	margin:0 auto;
	height: 100px;
	border-bottom:1px solid greenyellow;
}
.hd_logo {
	width:200px;
	clear:both;
}
 .hd_banner {
	width:300px;
	clear:right;
}
.hd_search {
	width:600px;
	padding:5px 0;
}
.hd_search_form {
	height:40px;
}
.hd_hot_keyword_search {
	height:30px;
	line-height:30px;
}
#search_word {
	height:25px;
	width:350px;
}
#hd_nav {
	position:	relative;
	width:	100%;
}
.fruit_type {
	width:1200px;
	background:	#40AF39;
	/* border-radius: 10px; */
	margin:	10px auto;
	height:	35px;
}
.fruit_type_nav {
	width:	900px;
	padding: 0 10px;
}
.hd_progress {
	padding:28px 0 0 188px;
}
.hd_progress button {
	width:150px;
	margin-left:50px;
}
#footer {
	width:100%;
	margin:10px auto;
	position:relative;
	clear: both;
}
.footer_links {
	border-top:10px solid #E5E5E5;
}
.footer_services, .footer_links, .footer_copyright, .footer_authentication {
	width:1200px;
	margin:5px auto;
	height:auto;
	text-align:center;
}

/* ErrorMessages */
.errors {
	margin:50px;
	color:red;
}
.errors ul li {
	display:block;
	float:none;
}