<div style="width:300px; height:400px;" class="fl">
	<div style="padding:25px;">
		<img style="margin:2px audio;" width="250px" height="250px"></img>
	</div>
	<div style=" text-align:center; ">
		<span><%= fruit.id %></span>
		<span><%= fruit.name %></span>
		<span><%= fruit.origin_place %></span>
		<span><%= fruit.price_present %></span>
	</div>
</div>